:host
  display inline-block

  &.completed
    .hint
      font-weight bold

  &:not(.completed)
    .hint
      transition top 50ms ease-out

.pinyin-input
  height 24px

.chinese
  font-size 10rem // font-size should be relative to phrase length
  line-height 1.14em

.pinyin
  font-size 1.5rem // font-size should be relative to phrase length
  padding-top 6px
