<app-action-panel class="actions" [langItem]="langItem">
</app-action-panel>
<div class="header">
  LEARN
</div>
<div class="translation">
  <div class="chinese">
    <app-character
      class="character"
      *ngFor="let character of characters"
      [character]="character">
    </app-character>
  </div>
  <div class="english">
    {{langItem.english}}
  </div>
</div>
<div class="examples">
  <div class="header">Examples</div>
  <app-example
    *ngFor="let example of langItem.examples"
    class="example"
    [example]="example">
  </app-example>
</div>
