<div class="actions">
  <div class="learn-icon">
    <icon-open-book></icon-open-book>
  </div>
  <div class="link">
    <a class="fa fa-external-link" href="http://www.collinsdictionary.com/dictionary/chinese-english/{{langItem.chinese}}" title="External link"></a>
  </div>
</div>
<div class="header">
  LEARN
</div>
<div class="translation">
  <div class="chinese">
    <div 
      class="character"
      *ngFor="let character of characters">
      <div class="chinese">{{character.chinese}}</div>
      <div class="pinyin">{{character.pinyin.syllable}}{{character.pinyin.tone}}</div>
    </div>
  </div>
  <div class="english">
    News
  </div>
</div>
<div class="examples">
  <div class="header">Examples</div>
  <div class="example"
    *ngFor="let example of examples">
    <div class="chinese">
      <span class="word-{{i}}" 
        *ngFor="let word of example.words; let i = index">
        <span *ngFor="let character of word">{{character.chinese}}</span>
      </span>
    </div>
    <div class="pinyin">
      <span class="word-{{i}}" 
        *ngFor="let word of example.words; let i = index">
        <span *ngFor="let character of word">{{character.pinyin.syllable}}{{character.pinyin.tone}}</span>
      </span>
    </div>
    <div class="english">
      {{example.english}}
    </div>
  </div>
</div>
