:host 
  display: block
  position: relative
  padding-left: 4rem

  #Book_1_ // learn icon
    fill: #ef6c00

  .learn-icon
    margin-bottom: 1.2rem


  .header
    color: #ef6c00
    font-family: Montserrat
    font-weight: 300

  & > .header
    font-size: 2.8rem
    letter-spacing: 1px
    margin-bottom: 0.8rem

  & > .actions
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 3.1rem
    padding-top: 0.2rem

    .link a
      font-size: 2.2rem


.translation
  display: inline-block
  text-align: center

  .character
    display: inline-block

    &:hover
      color: #00b8d4

    .chinese
      font-size: 10rem // font-size should be relative to phrase length
      line-height: 1.14em
    
    .pinyin
      font-size: 1.5rem // font-size should be relative to phrase length
      
  .english
    font-size: 1.6rem // font-size should be relative to phrase length
    margin-top: 0.7rem
    
.examples
  margin-top: 1.8rem

  .header
    font-size: 1.4rem
    margin-bottom: 1rem

  .chinese
    font-size: 1.4rem
  
  .english
    font-size: 1.1rem
    color: #ad1457

  .example
    line-height: 1.4rem
    margin-bottom: 1.1rem
