<div class="header">
  LEARN
</div>
<div class="chinese">
  <div 
    class="character"
    *ngFor="let character of characters">
    <div class="chinese">{{character.chinese}}</div>
    <div class="pinyin">{{character.pinyin.syllable}}{{character.pinyin.tone}}</div>
  </div>
</div>
<div class="english">
  News
</div>
<div class="examples">
  <div class="header">Examples</div>
  <div class="example"
    *ngFor="let example of examples">
    <div class="chinese">{{example.chinese}}</div>
    <div class="pinyin">{{example.pinyin}}</div>
    <div class="english">{{example.english}}</div>
  </div>
</div>
